<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/css/app.css' />
    <script src="/js/phaser.js"></script>
    <script src="/js/hud/startrnd.js"></script>
    <script src="/js/hud/oponent.js"></script>
    <script src="/js/hud/units.js"></script>
    <script src="/js/hud/border.js"></script>
    <script src="/js/hud/hud.js"></script>



    <title>Annihilation Of The Shadow Darkness Sega 13  </title>
  </head>
  <body>

    <h1>Hello Game!</h1>

    <div id="game_div">
      <script src="/js/app.js"></script>
    </div>

  </body>
</html>
