h1 {
  text-align: center;
  font-family: 'Arial';
}

#game_div {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.cursor {
    position: absolute;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
